# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
*.log

# ======================
# Database
# ======================
*.db
*.sqlite3

# ======================
# VSCode
# ======================
.vscode/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Pytest
# ======================
.pytest_cache/
.coverage

# ======================
# Docker
# ======================
docker-data/
postgres_data/

# ======================
# Build
# ======================
dist/
build/
*.egg-info/
